@font-face {
    font-family: "DroidKufi";
    src        : url(font/DroidKufi/DroidKufi-Bold.eot?#iefix) format("embedded-opentype"),
        url(font/DroidKufi/DroidKufi-Bold.ttf) format("truetype"),
        /* Safari, Android, iOS */
        url(font/DroidKufi/DroidKufi-Bold.woff) format("woff"),
        /* Pretty Modern Browsers */
        url(font/DroidKufi/DroidKufi-Bold.woff2) format("woff2"),
        /* Pretty Modern Browsers */
        url(font/DroidKufi/DroidKufi-Bold.svg) format("svg");
}

@font-face {
    font-family: "AvergentRegular";
    src        : url(font/AvergentRegular/AvergentRegular.ttf) format("truetype");
}

@font-face {
    font-family: "Al_QuranAlKareem";
    src        : url(font/Quran/Al-QuranAlKareem.ttf) format("truetype");
}


/* التواجد الحالي منيو */

#adhan {

    background-image: linear-gradient(to right, #1b5e20, #45884a);
    margin-right    : 0px;
}

/* التواجد الحالي منيو */


.adhan {

    width        : 620px;
    padding      : 7px;
    border-radius: 20px;
    margin-right : 230px;
    margin-top   : 20px;
    text-align   : center;
    font-family  : 'DroidKufi';
}

.from {

    display        : flex;
    width          : 100%;
    justify-content: center;
    align-items    : center;
    background     : #f7f7f7;
    border-radius  : 20px;
    text-align     : center;
    justify-content: space-between;
    box-sizing     : border-box;
    padding-left   : 80px;
    padding-right  : 80px;
    padding-top    : 10px;
    padding-bottom : 10px;
    box-shadow     : 0px 5px 26px 0px rgba(0, 0, 0, 0.089);
    transition     : 0.5s ease-in-out;
}

.from:hover {
    background: #f3f3f3;
    transition: 0.5s ease-in-out;
}

#select_country {
    border-radius: 20px;
    width        : 150px;
    text-align   : center;
    font-family  : 'DroidKufi';
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
        linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
    background-repeat  : no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size    : .20em auto, 100%;
    direction          : ltr;
    border             : none;
    color              : #949494;
    transition         : 0.5s ease-in-out;
}

#select_country:hover {
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
        linear-gradient(to bottom, #faf9f9 0%, #d8d5d5 100%);
    transition: 0.5s ease-in-out;
}

#select_city {
    border-radius: 20px;
    width        : 150px;
    text-align   : center;
    font-family  : 'DroidKufi';
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
        linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
    background-repeat  : no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size    : .20em auto, 100%;
    direction          : ltr;
    border             : none;
    color              : #949494;
    transition         : 0.5s ease-in-out;
}

#select_city:hover {
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
        linear-gradient(to bottom, #faf9f9 0%, #d8d5d5 100%);
    transition: 0.5s ease-in-out;
}

#submit_country_Submit {
    padding         : 5px;
    border          : none;
    border-radius   : 10px;
    color           : #949494;
    width           : 60px;
    text-align      : center;
    text-decoration : none;
    background-image: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
    font-family     : 'DroidKufi';
    font-size       : 12px;
    transition      : 0.5s ease-in-out;
}

#submit_country_Submit:hover {
    background-image: linear-gradient(to bottom, #faf9f9 0%, #d8d5d5 100%);
    transition      : 0.5s ease-in-out;
}

#submit_city_Submit {
    padding         : 5px;
    border          : none;
    border-radius   : 10px;
    color           : #949494;
    width           : 60px;
    text-align      : center;
    text-decoration : none;
    background-image: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
    font-family     : 'DroidKufi';
    font-size       : 12px;
    transition      : 0.5s ease-in-out;
}

#submit_city_Submit:hover {
    transition      : 0.5s ease-in-out;
    background-image: linear-gradient(to bottom, #faf9f9 0%, #d8d5d5 100%);
}

.adhan_now {
    display        : block;
    width          : 100%;
    justify-content: center;
    align-items    : center;
    background     : #f7f7f7;
    border-radius  : 20px;
    box-shadow     : 0px 5px 26px 0px rgba(0, 0, 0, 0.089);
    transition     : 0.5s ease-in-out;
}

.adhan_now:hover {
    background: #f3f3f3;
    transition: 0.5s ease-in-out;
}

#adhan_now_title {

    color      : #45884a;
    padding-top: 10px;
    transition : 0.5s ease-in-out;
}

#adhan_now_title:hover {
    color      : #88c98c;
    transition : 0.5s ease-in-out;
    margin-left: 10px;
}

#adhan_now {
    color         : #949494;
    padding-bottom: 20px;
    transition    : 0.5s ease-in-out;
}

#adhan_now:hover {
    transition : 0.5s ease-in-out;
    margin-left: 10px;
}

.div_adhan_next {
    display        : flex;
    width          : 100%;
    justify-content: center;
    align-items    : center;
    background     : #f7f7f7;
    border-radius  : 20px;
    text-align     : center;
    box-shadow     : 0px 5px 26px 0px rgba(0, 0, 0, 0.089);
    transition     : 0.5s ease-in-out;
}

.div_adhan_next:hover {
    background: #f3f3f3;
    transition: 0.5s ease-in-out;
}

#adhan_next_title {

    color      : #45884a;
    margin-left: 50px;
    transition : 0.5s ease-in-out;
}

#adhan_next_title:hover {
    color     : #88c98c;
    transition: 0.5s ease-in-out;
}

#adhan_next {
    color      : #949494;
    margin-left: 50px;
    font-size  : 13px;
    transition : 0.5s ease-in-out;
}

#adhan_next:hover {
    transition : 0.5s ease-in-out;
    margin-left: 10px;
}

#time_adhan_next_title {

    color       : #45884a;
    margin-right: 50px;
    transition  : 0.5s ease-in-out;

}

#time_adhan_next_title:hover {
    color     : #88c98c;
    transition: 0.5s ease-in-out;
}

#time_adhan_next {
    color       : #949494;
    margin-right: 50px;
    font-family : 'AvergentRegular';
    direction   : ltr;
    transition  : 0.5s ease-in-out;
}

#time_adhan_next:hover {
    transition  : 0.5s ease-in-out;
    margin-right: 10px;
}

.div_adhan_time {

    display        : flex;
    flex-direction : row;
    flex-wrap      : wrap;
    width          : 100%;
    padding-left   : 0;
    padding-right  : 0;
    justify-content: center;
    align-items    : center;
    ;
    background   : #f7f7f7;
    border-radius: 20px;
    margin-top   : 15px;
    margin-bottom: 10px;
    transition   : 0.5s ease-in-out;
}

.div_adhan_time:hover {
    background: #f3f3f3;
    transition: 0.5s ease-in-out;
}

.div_adhan_time p {

    text-align  : center;
    word-wrap   : break-word;
    margin-left : 20px;
    margin-right: 20px;
    color       : #45884a;
    transition  : 0.5s ease-in-out;
}

.div_adhan_time p:hover {
    color      : #88c98c;
    transition : 0.5s ease-in-out;
    margin-left: 10px;
}

.div_adhan_time:hover {
    background: #f3f3f3;
    transition: 0.5s ease-in-out;
}

#fajr {
    color      : #949494;
    font-family: 'AvergentRegular';
    direction  : ltr;
    transition : 0.5s ease-in-out;
}

#fajr:hover {
    transition : 0.5s ease-in-out;
    margin-left: 10px;
    color      : #c5c5c5;
}

#sunrise {
    color      : #949494;
    font-family: 'AvergentRegular';
    direction  : ltr;
    transition : 0.5s ease-in-out;
}

#sunrise:hover {
    transition : 0.5s ease-in-out;
    color      : #c5c5c5;
    margin-left: 10px;
}

#dhuhr {
    color      : #949494;
    font-family: 'AvergentRegular';
    direction  : ltr;
    transition : 0.5s ease-in-out;
}

#dhuhr:hover {
    transition : 0.5s ease-in-out;
    color      : #c5c5c5;
    margin-left: 10px;
}

#asr {
    color      : #949494;
    font-family: 'AvergentRegular';
    direction  : ltr;
    transition : 0.5s ease-in-out;
}

#asr:hover {
    transition : 0.5s ease-in-out;
    color      : #c5c5c5;
    margin-left: 10px;
}

#maghrib {
    color      : #949494;
    font-family: 'AvergentRegular';
    direction  : ltr;
    transition : 0.5s ease-in-out;
}

#maghrib:hover {
    transition : 0.5s ease-in-out;
    color      : #c5c5c5;
    margin-left: 10px;
}

#isha {
    color      : #949494;
    font-family: 'AvergentRegular';
    direction  : ltr;
    transition : 0.5s ease-in-out;
}

#isha:hover {
    transition : 0.5s ease-in-out;
    color      : #c5c5c5;
    margin-left: 10px;
}

#city {
    color     : #7a7a7a;
    transition: 0.5s ease-in-out;
}

#city:hover {
    transition: 0.5s ease-in-out;
    color     : #88c98c;
    font-size : 20px;
}

::-webkit-scrollbar-track {
    background-color  : #919191 !important;
    -webkit-app-region: no-drag;

}

::-webkit-scrollbar-thumb {
    background        : #7a7a7a !important;
    -webkit-app-region: no-drag;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #5e5e5e !important;
}