@font-face {
    font-family: "DroidKufi";
    src        : url(font/DroidKufi/DroidKufi-Bold.eot?#iefix) format("embedded-opentype"),
        url(font/DroidKufi/DroidKufi-Bold.ttf) format("truetype"),
        /* Safari, Android, iOS */
        url(font/DroidKufi/DroidKufi-Bold.woff) format("woff"),
        /* Pretty Modern Browsers */
        url(font/DroidKufi/DroidKufi-Bold.woff2) format("woff2"),
        /* Pretty Modern Browsers */
        url(font/DroidKufi/DroidKufi-Bold.svg) format("svg");
}

@font-face {
    font-family: "AvergentRegular";
    src        : url(font/AvergentRegular/AvergentRegular.ttf) format("truetype");
}

@font-face {
    font-family: "Al_QuranAlKareem";
    src        : url(font/Quran/Al-QuranAlKareem.ttf) format("truetype");
}


/* التواجد الحالي منيو */

#adhkar {

    background-image: linear-gradient(to right, #1b5e20, #45884a);
    margin-right    : 0px;
}

/* التواجد الحالي منيو */


.adhkar {
    width        : 620px;
    padding      : 7px;
    border-radius: 20px;
    margin-right : 230px;
    margin-top   : 70px;
    text-align   : center;
    font-family  : 'DroidKufi';
}

.adhkar_div_flex {

    color          : #979797;
    margin-top     : 30px;
    display        : flex;
    flex-direction : row;
    flex-wrap      : wrap;
    width          : 100%;
    padding-left   : 0;
    padding-right  : 0;
    justify-content: center;
    align-items    : center;

}

.adhkar_div {
    display         : block;
    width           : calc(110% / 5);
    text-align      : center;
    margin          : 10px 10px 10px 10px;
    box-shadow      : 0px 0px 8px 0px #0000000c;
    background-color: #f7f7f7;
    padding         : 15px;
    border-radius   : 30px;
    word-wrap       : break-word;
    justify-content : center;
    align-items     : center;
    transition      : 0.5s ease-in-out;
}

.adhkar_div:hover {
    width           : calc(120% / 5);
    background-color: #f7f7f7;
    transition      : 0.5s ease-in-out;
}

.adhkar_div img {

    max-width: 50%;
    height   : auto;

}

.adhkar_div a {
    color          : #979797;
    text-decoration: none;
    text-align     : center;
    font-family    : 'DroidKufi';
    font-size      : 20px;
}



.adhkar_title {
    padding         : 5px;
    border-radius   : 10px;
    color           : #ffffff;
    box-shadow      : 0px 0px 8px 0px #0000000c;
    background-color: #add1a8;
    font-size       : x-large;
}

.adhkar_text {

    text-align      : center;
    font-family     : 'DroidKufi';
    border-radius   : 10px;
    color           : #575757;
    box-shadow      : 0px 0px 8px 0px #0000000c;
    background-color: #f7f7f7;
    margin-bottom   : 40px;
    padding         : 10px;
}

.adhkar_text p {
    font-family: 'Al_QuranAlKareem';
    font-size  : 22px;

}

.adhkar_text span {

    font-size: 17px;
    color    : #45884a;

}

.adhkar_text_button {

    border-radius   : 10px;
    padding         : 10px;
    width           : 500px;
    background-image: linear-gradient(to right, #1b5e20, #45884a);
    margin-bottom   : 20px;
    margin-top      : 20px;
    font-family     : 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size       : 22px;
    color           : #ffffff;
    background-color: rgba(255, 255, 255, 0);
    border          : none;
    transition      : 0.5s ease-in-out;

}

.adhkar_text_button:hover {

    background-image: linear-gradient(to right, #45884a, #1b5e20);
    font-size       : 24px;
    transition      : 0.5s ease-in-out;

}

#audio_div {

    margin-left       : auto;
    margin-right      : auto;
    width             : 100%;
    text-align        : center;
    font-family       : 'DroidKufi';
    font-size         : 15px;
    -webkit-app-region: no-drag;


}

#adhkar_pm_am {
    margin-left : auto;
    margin-right: auto;
    width       : 100%;
}

#titlebar2 {
    height            : 30px;
    width             : 100%;
    top               : 0;
    direction         : rtl;
    position          : fixed;
    z-index           : 2;
    -webkit-app-region: drag;
}


#window-controls2 {
    display           : flex;
    position          : absolute;
    top               : 0;
    left              : 0;
    z-index           : 5;
    -webkit-app-region: no-drag;
}

#close-button2 .icon {
    width       : 13px;
    height      : 13px;
    margin-right: 25px;
}

#min-button2 .icon {
    width       : 15px;
    height      : 15px;
    margin-right: 10px;
}

#min-button2 {
    background                : #dee3e4;
    padding-left              : 10px;
    padding-top               : 9px;
    padding-bottom            : 2px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius : 15px;
}

#close-button2 {
    background                : #d40000;
    padding-left              : 20px;
    padding-top               : 8px;
    padding-bottom            : 2px;
    border-bottom-right-radius: 15px;
}

#close-button2:hover {
    background: #bb0404;
}


#min-button2:hover {
    background: #d3d7d8;

}

#body_adhkar {

    background-color   : #ecf0f1;
    background-size    : 350px;
    max-width          : 100%;
    user-select        : none;
    -khtml-user-select : none;
    -o-user-select     : none;
    -moz-user-select   : none;
    -webkit-user-select: none;
    direction          : rtl;
    margin             : 0px 0px 0px 0px;
    -webkit-app-region : drag;

}