@font-face {
    font-family: "DroidKufi";
    src        : url(font/DroidKufi/DroidKufi-Bold.eot?#iefix) format("embedded-opentype"),
        url(font/DroidKufi/DroidKufi-Bold.ttf) format("truetype"),
        /* Safari, Android, iOS */
        url(font/DroidKufi/DroidKufi-Bold.woff) format("woff"),
        /* Pretty Modern Browsers */
        url(font/DroidKufi/DroidKufi-Bold.woff2) format("woff2"),
        /* Pretty Modern Browsers */
        url(font/DroidKufi/DroidKufi-Bold.svg) format("svg");
}

@font-face {
    font-family: "AvergentRegular";
    src        : url(font/AvergentRegular/AvergentRegular.ttf) format("truetype");
}

@font-face {
    font-family: "Al_QuranAlKareem";
    src        : url(font/Quran/Al-QuranAlKareem.ttf) format("truetype");
}


/* التواجد الحالي منيو */

#hisn_almuslim {

    background-image: linear-gradient(to right, #1b5e20, #45884a);
    margin-right    : 0px;
}

/* التواجد الحالي منيو */

.hisn_almuslim_text h4 {

    color           : #4B79A1;
    text-align      : center;
    font-family     : 'DroidKufi';
    margin-top      : 50px;
    padding         : 10px;
    border-radius   : 10px;
    color           : #979797;
    box-shadow      : 0px 0px 8px 0px #0000000c;
    background-color: #f7f7f7;

}

.hisn_almuslim_text h5 {

    text-align      : center;
    font-family     : 'DroidKufi';
    text-align      : right;
    font-size       : x-small;
    padding         : 10px;
    border-radius   : 10px;
    color           : #575757;
    box-shadow      : 0px 0px 8px 0px #0000000c;
    background-color: #faf1bf;

}

.hisn_almuslim_text h6 {

    color      : #363636;
    text-align : center;
    font-family: 'DroidKufi';
    margin-top : 50px;
    text-align : right;


}

.hisn_almuslim {
    width        : 620px;
    padding      : 7px;
    border-radius: 20px;
    margin-right : 230px;
    margin-top   : 30px;
    margin-bottom: 50px;
    text-align   : center;
    font-family  : 'DroidKufi';
}

.hisn_almuslim a {
    color          : #979797;
    text-decoration: none;
    text-align     : center;
    font-family    : 'DroidKufi';
}

.hisn_almuslim a:hover {
    transition : 1s ease-in-out;
    color      : #63a14b;
    font-size  : 17px;
    font-family: 'DroidKufi';
}


.hisn_almuslim p {
    padding         : 5px;
    border-radius   : 10px;
    color           : #ffffff;
    box-shadow      : 0px 0px 8px 0px #0000000c;
    background-color: #add1a8;
    font-size       : x-large;
}


.hisn_almuslim ul {
    display        : flex;
    flex-direction : row;
    flex-wrap      : wrap;
    width          : 100%;
    padding-left   : 0;
    padding-right  : 0;
    justify-content: center;
    align-items    : center;
}

.hisn_almuslim li {
    list-style      : none;
    display         : block;
    width           : calc(115% / 3);
    text-align      : center;
    margin-bottom   : 50px;
    color           : #7B726D;
    margin          : 20px 20px 20px 20px;
    word-wrap       : break-word;
    border-radius   : 10px;
    padding         : 10px;
    box-shadow      : 0px 0px 8px 0px #0000000c;
    background-color: #f7f7f7;
}

.hisn_almuslim li:hover {
    background-color: #f3f3f3;
}