@font-face {
  font-family: "DroidKufi";
  src        : url(font/DroidKufi/DroidKufi-Bold.eot?#iefix) format("embedded-opentype"),
    url(font/DroidKufi/DroidKufi-Bold.ttf) format("truetype"),
    /* Safari, Android, iOS */
    url(font/DroidKufi/DroidKufi-Bold.woff) format("woff"),
    /* Pretty Modern Browsers */
    url(font/DroidKufi/DroidKufi-Bold.woff2) format("woff2"),
    /* Pretty Modern Browsers */
    url(font/DroidKufi/DroidKufi-Bold.svg) format("svg");
}

@font-face {
  font-family: "AvergentRegular";
  src        : url(font/AvergentRegular/AvergentRegular.ttf) format("truetype");
}

#titlebar {
  height            : 30px;
  width             : 100%;
  top               : 0;
  direction         : rtl;
  position          : fixed;
  z-index           : 2;
  -webkit-app-region: drag;
}


#window-controls {
  display           : flex;
  position          : absolute;
  top               : 0;
  left              : 0;
  z-index           : 5;
  -webkit-app-region: no-drag;
}

#close-button .icon {
  width       : 13px;
  height      : 13px;
  margin-right: 25px;
}

#min-button .icon {
  width       : 15px;
  height      : 15px;
  margin-right: 10px;
}

#min-button {
  background                : #dee3e4;
  padding-left              : 10px;
  padding-top               : 9px;
  padding-bottom            : 2px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius : 15px;
}

#close-button {
  background                : #d40000;
  padding-left              : 20px;
  padding-top               : 8px;
  padding-bottom            : 2px;
  border-bottom-right-radius: 15px;
}

#close-button:hover {
  background: #bb0404;
}


#min-button:hover {
  background: #d3d7d8;

}

html,
body {

  background-color   : #ecf0f1;
  background-size    : 350px;
  max-width          : 100%;
  user-select        : none;
  -khtml-user-select : none;
  -o-user-select     : none;
  -moz-user-select   : none;
  -webkit-user-select: none;
  direction          : rtl;
  margin             : 0px 0px 0px 0px;
  -webkit-app-region : drag;

}

.body {
  margin   : 0px 0px 0px 0px;
  top      : 0;
  max-width: 100%;
  display  : block;
  direction: rtl;
  position : absolute;
}

.header {
  margin          : 0px 0px 0px 0px;
  height          : 100%;
  width           : 200px;
  position        : fixed;
  z-index         : 1;
  top             : 0px;
  right           : 0px;
  background-image: linear-gradient(to right, #45884a, #1b5e20);
  overflow-x      : hidden;
  overflow-y      : hidden;
  padding-top     : 20px;
  list-style      : none;
  box-shadow      : 0 .25rem .75rem rgba(0, 0, 0, 0.301);
}

.header a {

  color             : #ffffff;
  font-family       : 'DroidKufi';
  font-size         : 13px;
  display           : block;
  text-decoration   : none;
  margin-top        : 5px;
  margin-right      : 15px;
  padding           : 5px;
  -webkit-app-region: no-drag;
  transition        : 1s ease-in-out;
}

.header a:hover {
  transition      : 1s ease-in-out;
  background-image: linear-gradient(to right, #1b5e20, #45884a);
  margin-right    : 0px;
}

.time_header {

  color      : #07420a;
  font-family: 'AvergentRegular';
  font-size  : 15px !important;
  text-align : center;
  margin-top : 25px !important;
  direction  : ltr;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #f1f1f1 40%, #dbdbdb 100%);
  box-shadow               : 0 .25rem .75rem rgba(0, 0, 0, 0.11);
  border-top-right-radius  : 15px;
  border-bottom-left-radius: 15px;
  margin-left              : 45px;
  margin-right             : 45px;
  padding                  : 5px;
  transition               : 0.5s ease-in-out;
}

.time_header:hover {
  transition      : 0.5s ease-in-out;
  color           : #ffffff !important;
  background-image: linear-gradient(to right, #1b5e20, #45884a);
  box-shadow      : 0 .25rem .75rem rgba(0, 0, 0, 0.329);
  font-size       : 17px !important;
  margin-left     : 40px;
  margin-right    : 40px;
}

.time_header::after {
  transition      : 0.5s ease-in-out;
  color           : #ffffff !important;
  background-image: linear-gradient(to right, #1b5e20, #45884a);
  box-shadow      : 0 .25rem .75rem rgba(0, 0, 0, 0.329);
  font-size       : 17px !important;
  margin-left     : 40px;
  margin-right    : 40px;
}

.header p {

  color      : #093617;
  font-family: 'AvergentRegular';
  font-size  : 10px;
  text-align : center;
  margin-top : 85px;
  transition : .5s ease-in-out;

}

.header p:hover {

  color     : #ffffff;
  transition: 0.3s ease-in-out;
}

#logo {
  width       : 200px;
  height      : 100px;
  max-width   : 100%;
  display     : block;
  margin-left : auto;
  margin-right: auto;
  margin-top  : 10px;
}


/* Custom Scrollbar */

/* width */
::-webkit-scrollbar {
  width             : 13px;
  -webkit-app-region: no-drag;
}


/* Track */
::-webkit-scrollbar-track {
  background-color  : #1b5e20;
  -webkit-app-region: no-drag;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background        : #45884a;
  -webkit-app-region: no-drag;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5ba15f;
}

/* Custom Scrollbar */