#icon_adhkar {
    background-color: #2e3338;
}

#adhkar{
    padding-right: 70px;
    margin-right: auto;
    margin-left: auto;
    direction: rtl;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#title{
    margin-top: 40px;
    background-color: #232527;
    padding: 15px;
    border-radius: 15px;
    margin-right: 30px;
    margin-left: 30px;
    box-shadow: 5px 15px 15px 0px #0000001c;
    user-select: text;
}

#text_top{
    margin-bottom: 8px;
    margin-top: 0px;
    font-family: 'Vazirmatn-Regular';
    color: #585858;
    font-size: 22px;
    text-align: center;

}

#text{
    font-family: 'quran';
    color: #fff;
    font-size: 19px;
    text-align: center;
    margin-bottom: 0px;
}

#copy_and_paste{
    margin-top: 15px;
    margin-bottom: 0px;
    background-color: #2e3338;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

#copy_and_paste li {
    list-style: none;
    height: 30px;
    margin-left: 50px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.icon_c_p {
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
}

.icon_c_p:hover {
    width: 23px;
    height: 23px;
}

#options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    margin-left: 40px;
}

#options li {
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    list-style: none;
    width: calc(50% / 2);
    height: 80px;
    text-align: center;
    background-color: #232527;
    border-radius: 15px;
    box-shadow: 5px 15px 15px 0px #0000001c;
    transition: 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    
}
#options li:hover {
    background-color: #272b30;
    padding: 5px;
    transition: 0.5s ease-in-out;
    box-shadow: 5px 15px 15px 0px #00000048;
    
}

#adhkar_icone{
    width: 30px;
    height: 30px;
}

#opt {
    font-family: 'Vazirmatn-Regular';
    color: #ffffff;
    font-size: 22px;
}

#description{
    font-family: 'Vazirmatn-Regular';
    color: #585858;
    font-size: 16px;
    text-align: center;
}

#reference{
    font-family: 'Vazirmatn-ExtraLight';
    color: #a6ca61;
    font-size: 15px;
    text-align: center;
}