html,
body {
    background-color: var(--background_body);
    font-family: var(--font_default);
    color: var(--white);
    margin: 0px 0px 0px 0px;
    max-height: 100%;
    overflow-y:hidden;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#titlebar {
    height: 30px;
    width: 100%;
    -webkit-app-region: drag;
}

#window-controls {
    display: flex;
    background-color: var( --background_div);
    direction: ltr;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.icon_bar {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    width: 25px;
    height: 25px;
    padding: 5px;
    -webkit-app-region: no-drag;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#closed:hover {
    background-color: var(--red);
    transition: 0.3s ease-in-out;
}

#minimizable:hover,
#minimize:hover {
    background-color: var(--background_div_hover);
    transition: 0.3s ease-in-out;
}

#adhkar_am_pm {
    display: block;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

#audio {
    width: 500px;
}

#text {
    font-size: 20px;
}

::-webkit-media-controls-enclosure {
    border-radius: 5px;
    background-color: var(--background_div);
}