#icon_hisnmuslim {
    background-color: var(--background_div_hover);
}

#hisnmuslim {

    padding-right: 70px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    word-wrap: break-word;
    direction: rtl;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

}

#ul_hisn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    direction: rtl;
    margin-top: 50px;
}

#ul_hisn li {
    list-style: none;
    text-align: center;
    margin: 10px 10px 10px 10px;
    color: var(--white-div);
    background-color: var(--background_div);
    width: 350px;
    height: 30px;
    border-radius: 8px;
    align-items: center;
    box-shadow: 0px 0px 10px 0px #00000010;
    font-size: 19px;
    padding: 10px;
    cursor: pointer;
}

#ul_hisn li:hover {
    background-color: var(--background_div_hover);
}

#title_hisn {
    padding-top: 10px;
    text-align: center;
    font-family: var(--font_quran);
    font-size: 55px;
    margin: 0 0 0 0;
    cursor: default;
}

#ktab {

    font-family: var(--font_quran);
    color: var(--color_font_grey);
    text-align: center;
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
    cursor: default;

}

#mp3_hisn {
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    justify-content: center;
}

#mp3_hisn_blackout {
    background-color: #00000000;
    backdrop-filter: blur(10px);
    width: 150%;
    height: 100%;
    z-index: 1;
    position: fixed;
}

#mp3_hisn_closed {

    display: block;
    position: fixed;
    z-index: 6;
    width: 5%;
    margin-top: 120px;
    cursor: pointer;
    user-select: none;
    transition: 0.3s ease-in-out;
}

#mp3_hisn_closed:hover {
    width: 6%;
    background-color: var(--red);
    border-radius: 4px;
    transition: 0.3s ease-in-out;
}

#mp3_hisn_src {
    width: 100%;
    margin: 0 0 0 0;
}

#mp3_hisn_alert {
    display: block;
    width: 50%;
    padding: 15px;
    border-radius: 4px;
    font-size: 16px;
    border-color: var(--background_div);
    z-index: 5;
    position: fixed;
    margin-top: 200px;
    text-align: center;
    /* margin-left: 200px; */
}

::-webkit-media-controls-enclosure {
    border-radius: 5px;
    background-color: #c0c4c7;
}



     
#search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 80px;
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    z-index: 9999;
}


#search-bar input[type="text"] {
    align-items: center;
    direction: rtl;
    text-align: center;
    width: 300px;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}
#search-bar input[type="text"]:focus {
    outline: none;
    border-width: 2px;
    /* Remove the default focus outline */
    border-color: var(--background_div_hover);
    /* Change the border color when selected */
    box-shadow: 0 0 5px var(--background_div_hover);;
    /* Add a box shadow when selected */
}