#icon_home {
    background-color: var(--background_div_hover);
}


#main {
    padding-right: 70px;
    width: 100%;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#logo {
    margin-top: 50px;
    margin-bottom: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

#pages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    direction: rtl;
    margin-left: 50px;
}

#pages li {
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    list-style: none;
    width: calc(60% / 2);
    height: 60px;
    text-align: center;
    background-color: var(--background_div);
    border-radius: 15px;
    box-shadow: 0px 0px 15px 0px #0000001c;
    transition: 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}

#pages li:hover {
    background-color: var(--background_div_hover);
    padding: 5px;
    transition: 0.5s ease-in-out;
}


/* #pages li a {
    color: inherit;
    text-decoration: inherit;
} */

.page_icon {
    width: 20px;
    height: 20px;
}

.page {
    color: var(--white-div);
    font-size: 18px;
}