#icon_info {
    background-color: var(--background_div_hover);
}

#info {

    padding-right: 70px;
    width: 100%;
    direction: rtl;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

}

#info_ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 35px;
}

#info_ul li {
    list-style: none;
    margin-left: 50px;
    width: 150px;
    padding: 15px !important;
    margin-bottom: 0px;
    padding: 10px;
    text-align: center;
    border-radius: 15px;
    background-color: var(--background_div);
    font-size: 22px;
    box-shadow: 5px 15px 15px 0px #0000001c;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

#info_ul li:hover {
    background-color: var(--background_div_hover);
    transition: 0.5s ease-in-out;
    box-shadow: 5px 15px 15px 0px #00000048;
}

#logo {
    margin-top: 50px;
    margin-bottom: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

#github {
    margin-top: 10px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 4%;
    cursor: pointer;
}



#altaqwaa {
    margin-left: 20px;
    margin-right: 20px;
}

#me {
    text-align: center;
    font-size: 20px;
    margin-bottom: 50px;
    margin-top: 50px;
}

#Version {
    color: var(--red) !important;
    margin-top: 30px;
    text-align: center;
    font-size: 18px;
}

#Developer {
    display: none;
}

#Developer_ul {
    display: block;
    margin-top: 35px;
}

#Developer_ul li {
    list-style: none;
    text-align: center;
    font-size: 22px;
    margin-left: 40px;
}

#Developer_li {
    list-style: none;
    text-align: center;
    font-size: 22px;
}


#Developer_li img {

    margin-top: 40px;
    margin-right: auto;
    width: 15%;
    border-radius: 50%;
}

#rn0x {
    margin-top: 20px;
}

#Connect_ul {
    display: flex;
    justify-content: space-evenly;
    margin-top: 35px;
}

#Connect_ul li {
    list-style: none;
    width: 100%;
    margin-left: 50px;
}

.Connect_icon {
    margin-top: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    cursor: pointer;
}

#dependencies {
    display: none;
    counter-reset: li;
    /* Initiate a counter */
    list-style: none;
    /* Remove default numbering */
    *list-style: decimal;
    margin-top: 70px;
    text-align: center;
    font-size: 22px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    margin-bottom: 70px;

}

#dependencies li {
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    *padding: .4em;
    background: var(--background_div);
    text-decoration: none;
    border-radius: .3em;
    transition: all .3s ease-out;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    cursor: pointer;

}

#dependencies li:hover {
    background: var(--background_div_hover);

}

#dependencies li:hover:before {
    transform: rotate(360deg);

}

#dependencies li:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    right: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: var(--background_div);
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid var(--background_div);
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;

}

#Sources {
    display: none;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    font-size: 18px;
    border-collapse: collapse;
    border-collapse: separate;
    border-spacing: 0 8px;

}

#Sources td {
    margin-left: auto;
    margin-right: auto;
    background-color: var(--background_div);
    padding: 20px;
}


.Sources_name {
    text-align: right;
    padding-right: 50px;
}

.Sources_url {
    text-align: left;
    padding-left: 50px;
}

.Sources_url p {
    cursor: pointer;
}


.dev {
    width: 90%;
    background-color: var(--background_div);
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: 0.5s ease-in-out;
}

.dev:hover {
    background-color: var(--background_div_hover);
    transition: 0.5s ease-in-out;
    box-shadow: 5px 15px 15px 0px #00000048;
}