#icon_adhkar {
    background-color: var(--background_div_hover);
}

#morning,
#evening,
#food,
#prayer,
#sleeping,
#tasbih {
    padding-right: 70px;
    margin-right: auto;
    margin-left: auto;
    direction: rtl;
    margin-bottom: 30px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}


.adhkar {
    margin-top: 40px;
    background-color: var(--background_div);
    padding: 15px;
    border-radius: 15px;
    margin-right: 30px;
    margin-left: 30px;
    box-shadow: 0px 0px 10px 0px #00000010;
    user-select: text;
}

.adhkar:nth-of-type(1) {
    margin-top: 40px;
}

.text_bottom {
    margin-bottom: 8px;
    margin-top: 10px;
    color: var(--color_font_grey);
    font-size: 17px;
    text-align: center;


}

.text {
    color: var(--white-div);
    font-family: var(--font_quran);
    font-size: var(--font_size_adhkar);
    text-align: center;
    margin-bottom: 0px;
}

.copy_and_paste {
    margin-top: 15px;
    margin-bottom: 0px;
    background-color: var(--background_body);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.copy_and_paste li {
    list-style: none;
    margin-left: 50px;
    padding: 12px;
    align-self: center;
}

.icon_c_p {
    margin-top: 5px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.icon_c_p:hover {
    width: 23px;
    height: 23px;
}

.tkrar {
    color: var(--white-div);
    text-align: center;
    font-size: 16px;
    background-color: var(--background_div);
    border-radius: 10px;
    width: 90px;
    height: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tkrar_number {

    color: var(--color_font_grey);
    font-weight: 600;
}

#adhkar_back {
    margin-top: 20px;
    width: 30px;
    cursor: pointer;
    right: 100px;
    position: absolute;
}

#adhkar_top_title {
    display: block;
    width: 40%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    color: var(--white-div);
    padding: 10px;
    background-color: var(--background_div);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #00000010;
}