#icon_prayer_time {
    background-color: var(--background_div_hover);
}

#prayer_time {

    padding-right: 70px;
    width: 100%;
    direction: rtl;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#time {
    display: flex;
    direction: ltr;
    justify-content: center;
    align-items: baseline;

}

#hour_minutes {
    font-size: 78px;
    margin-right: 7px;
    margin-bottom: 0px;
    margin-top: 30px;
}

#seconds {
    color: var(--color_font_grey);
    font-size: 28px;
    margin-bottom: 0px;
    margin-top: 30px;
}

#country {
    color: var(--color_font_grey);
    font-size: 20px;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    border-radius: 8px;
    padding: 5px;
}

#city {
    color: var(--background_div_hover);
}

#data {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

#data_hijri {
    color: var(--color_font_grey);
    font-size: 18px;
}

#data_Gregorian {
    color: var(--color_font_grey);
    font-size: 18px;
}

#datoday {
    font-size: 25px;
    font-weight: 600;
}

#prayer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#prayer li {
    list-style: none;
    margin: 10px 10px 10px 10px;
    background-color: var(--background_div);
    width: 130px;
    border-radius: 8px;
    text-align: center;
    direction: ltr;
    box-shadow: 5px 15px 15px 0px #0000001c;
    transition: 0.5s ease-in-out;
}

#prayer li:hover {
    background-color: var(--background_div_hover);
    padding: 5px;
    transition: 0.5s ease-in-out;
    box-shadow: 5px 15px 15px 0px #00000048;
}

/* #asr_li {
    background-color: #6bc077 !important;
} */


#remaining {
    display: none;
    color: var(--color_font_grey);
    font-size: 19px;
    text-align: center;
}

#remaining_name {
    color: var(--background_div_hover);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

#remaining_time {
    display: none;
    font-size: 27px;
    text-align: center;
    background-color: var(--background_div_hover);
    width: 20%;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: auto;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 15px 15px 0px #0000001c;
    transition: 0.5s ease-in-out;
}

.slah {
    color: var(--color_font_grey);
    font-weight: 700;
}