#icon_menu_mp3 {
    background-color: var(--background_div_hover);
}

#quran_mp3 {

    padding-right: 20px;
    width: 100%;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#ul_group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    direction: rtl;
}

.li_group {
    list-style: none;
    text-align: center;
    margin: 10px 10px 10px 10px;
    background-color: var(--background_div);
    width: 350px;
    height: 30px;
    border-radius: 8px;
    align-items: center;
    padding: 10px;
    box-shadow: 0px 0px 10px 0px #00000010;
}

.li_group:hover {
    background-color: var(--background_div_hover);
}

#grid_mp3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    direction: rtl;
    align-items: center;
    justify-items: center;
    text-align: center;
}

.name {
    color: var(--white-div);
    font-size: 18px;
    margin-top: 5px;
}

.number {
    margin-top: 0px;
    color: var(--color_font_grey);
}

.icon_mp3,
.icon_mp3_ddownload {
    width: 15%;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 10px;
    cursor: pointer;
}

#Sheikh {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    direction: rtl;
}

#Sheikh_name {
    color: var(--white-div);
    font-size: 19px;
    margin: 0 0 0 0;

}

#Sheikh_rewaya {
    color: var(--color_font_grey);
    font-size: 12px;
    margin: 0 0 0 0;
    direction: rtl;

}

#Sheikh li {
    /* width: max-content; */
    list-style: none;
    margin: 10px 10px 10px 10px;
    background-color: var(--background_div);
    box-shadow: 0px 0px 10px 0px #00000010;
    width: 350px;
    height: auto;
    border-radius: 8px;
    padding: 5px;
    justify-content: center;
    cursor: pointer;
}

#Sheikh li:hover {
    background-color: var(--background_div_hover);
}

#reader {
    /* width: max-content; */
    width: 100%;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    margin-top: 0px;
    margin-bottom: 15px;
}

#reader_name {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: 'Quran';
    color: var(--color_font_grey);
    font-size: 18px;
}

#quran_mp3_back {
    display: none;
    margin-top: 20px;
    width: 30px;
    cursor: pointer;
    right: 100px;
    position: absolute;
}

#quran_mp3_name_Sheikh {
    display: none;
    width: 60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    color: var(--white-div);
    padding: 10px;
    background-color: var(--background_div);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #00000010;
}