#icon_settings {
    background-color: var(--background_div_hover);
}

#settings {

    padding-right: 70px;
    width: 100%;
    direction: rtl;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    text-align: center;
    font-size: 18px;
    border-collapse: collapse;
    border-collapse: separate;
    border-spacing: 0 8px;
}

.name {
    text-align: right;
}

#table td {
    border-bottom: 5px;
    padding: 10px;
    padding-right: 30px;
}

#latitude,
#longitude,
#timezone {
    width: 300px;
    height: 35px;
    text-align: center;
    border-radius: 10px;
    border: none
}

#Calculation {
    width: 300px;
    height: 40px;
    text-align: right;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    text-indent: 4px;
    background-color: #ffffff;
    color: var(--color_font_grey);

}

#Calculation option {
    font-size: 18px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--background_div_hover);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--background_div_hover);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* for the volume value box */
output {
    background: var(--background_div_hover);
    font-size: small;
    padding: 4px 12px;
    border-radius: 3px;
}

#volume {
    accent-color: var(--background_div_hover);
}

#adhan_volume {
    accent-color: var(--background_div_hover);
}

#volume_value {
    color: var(--white-div);
}

#adhan_volume_value {
    color: var(--white-div);
}


/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


#save {
    margin-top: 25px;
    margin-bottom: 20px;
    display: block;
    width: 200px;
    border-style: none;
    border-radius: 15px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    font-family: var(--font_default);
    color: var(--white-div);
    background-color: var(--background_div);
    box-shadow: 0px 0px 10px 0px #00000010;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

#save:hover {
    background-color: var(--background_div_hover);
}