:root {
    --font_default: "Vazirmatn-Regular";
    --font_quran: "Quran";
    --font_quran_bold: "Quran_Bold";
    --font_1: "Vazirmatn-ExtraLight";
    --font_size_surah: 30px;
    --font_size_adhkar: 20px;
    --background_body: #2e3338;
    --background_div: #232527;
    --background_div_hover: #6bc077;
    --background_settings_hover: #3b3e42;
    --scrollbar_thumb: #292c2e;
    --scrollbar_thumb_hover: #303335;
    --color_font_grey: #585858;
    --red: #f34949;
    --white: #ffffff;
    --white-div: #ffffff;
}